<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nextdoordocapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NextDoorDocApp">
        <activity android:name=".PatientSendMessageToDoctorPg1"></activity>
        <
        <activity android:name=".ContactSupportPg1" />
        <activity android:name=".PatientRegistrationPg1" />
        <activity android:name=".LoginActivityPg1" />
        <activity android:name=".PatientBookAppointmentDoctorPg1" />
        <activity android:name=".PatientFindDoctorPg2" />
        <activity android:name=".CashierRegisterPmtPg1" />
        <activity android:name=".CashierHomePg1" />
        <activity android:name=".PatientFoodTrackPg1" />
        <activity android:name=".PatientFindDoctorPg1" />
        <activity android:name=".PatientMainActions" />
        <activity android:name=".CashierPmtCheckPg1" />
        <activity android:name=".AdmWelcPage" />
        <activity android:name=".DocSchedulePg1" />
        <activity android:name=".DocMessagesPg1" />
        <activity android:name=".DoctorHelloPg1" />
        <activity android:name=".AdminRegistrationPage" />
        <activity android:name=".AdmInfoRegistration" />
        <activity android:name=".AdmCasInformation" />
        <activity android:name=".AdmPatInformation" />
        <activity android:name=".AdmDocInformation" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>